{% extends "base.html.jinja" %}

		{% block head %}
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}"/>
		{% endblock %}

		{% block main %}
			{% for fp in context.options %}
			<span class="tile">
				<a href="{{ fp.hm_url }}">
				<img src="{{fp.img}}" />
				<div>
				{{ fp.name }}
				</div>
				</a>
			</span>
			{% endfor %}
		{% endblock %}